{% extends "header.html" %}

{% block body %}
<div id ="aaa"> 
<h3> {{ selectedresult }} / {{ nofserving }} </h3>
</div>

<div class="row" style = "margin-top:20px">
    <div class = "col-sm-5">
      <h4 style="margin-right:60px" align="center"> list of ingredients </h4> 
          <div class="panel panel-default">
			  <!-- Table -->
			  <table class="table">
			    <tr>
			    	<td> Ingredients </td>
			    	<td> Amount </td>
			    	<td> Price </td>
			    </tr>
			    <tr>
			    	<td>a</td>
			    	<td>b</td>
			    	<td>c</td>
			    </tr>
			  </table>
		</div>
		<h4 align="right"> Total Cost: $ 50 </h4>
    </div>
    <div class ="col-sm-1">
    </div>
    <div class = "col-sm-5">
      <h4 style="margin-right:60px" align="center"> Stores Near By </h4> 
          <div class="panel panel-default">
			  <!-- Table -->
			  <table class="table">
			    <tr>
			    	<td> Store Name </td>
			    	<td> Distance </td>
			    	<td> Travel Time (Car) </td>
			    </tr>
			    {% for store in STORE_LIST %}
			    <tr>
			    	<td>{{store[0]}}</td>
			    	<td>{{store[1][0]}}</td>
			    	<td>{{store[1][1]}}</td>
			    </tr>
			    {% endfor %}
			  </table>
		</div>
    </div>
</div>

<div class="row" style = "margin-top:20px">

</div>


{% endblock %}