{% extends "header.html" %}

{% block body %}   

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <h2 style = "margin-top:20px"> Hello {{ user_name }} </h2>
  <div class="row" style = "margin-top:20px">
    <div class = "col-sm-3">
      <h4 style="margin-right:60px" align="center"> list of ingredients </h4> 
          <div class="list-group">
            <a class="list-group-item active">Ingredients you Already Have</a>
              {% for t in USER_DICT["Basics"] %}
                <a href="{{t[1]}}" class="list-group-item">{{t[0]}}</a>
              {% endfor %}
              <!-- <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item">Morbi leo risus</a>
              <a href="#" class="list-group-item">Porta ac consectetur ac</a>
              <a href="#" class="list-group-item">Vestibulum at eros</a> -->
            </div>
    </div>

    <div class = "col-sm-9">
      <h4 style="margin-left:60px"> search history </h4>
          <div class="list-group">
            <a class="list-group-item list-group-item-success">Recipes You Searched Before</a>
              {% for t in USER_DICT["Basics"] %}
                <a href="{{t[1]}}" class="list-group-item">{{t[0]}}</a>
              {% endfor %}
            </div>
    </div>
  </div>



  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}