{% extends "header.html" %}

{% block body %}
  <div class="row" style = "margin-top:20px">
    <div class = "col-sm-1"></div>
    <div class = "col-sm-9">
      <h3> Search Results for: {{ searchquery }}</h3>
    </div>
  </div>
  <div class="row" style = "margin-top:20px">
    {% for results in SEARCH_DICT %}
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        {% set URL = results["url"] %}
        <img src="http://img.bitpixels.com/getthumbnail?code=56098&size=200&url={{URL}}">
        <div class="caption">
          <h3 style = "margin-top:20px">{{loop.index}}. {{results["dishname"]}}</h3>
          <h6> {{results["url"]}}</h6>
          <p align="center"><a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#{{ loop.index }}modal">View Recipe</a></p>
        </div>
      </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="{{ loop.index }}modal" role="dialog">
      <div class="modal-dialog modal-lg">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id = "modalheader">{{results["dishname"]}}</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-4">
                <h3> Ingredients </h3>
                <p> {{ results["ingre"] }} </p>
                <!-- {% for ingredients in results["ingre"] %}
                  <ul>{{ ingredients }}</ul>
                {% endfor %} -->
              </div>
              <div class = "col-sm-8">
                <h3> Recipe </h3>
                {% for recipe in results["recipe"] %}
                  <ol>{{ recipe }}</ol>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class ="col-sm-2"></div>
    <div class="col-sm-5" style="margin-top:15px"><h4>How many Servings Are You Cooking? </h4></div>          
    <div class="col-sm-3">
     <form method=post action="/computecost">
        <div class="input-group" style="margin-top:10px">
          <input name = "selectedresult" type="text" class="form-control" placeholder="Recipe Number">
          <input name = "nofserving" type="text" class="form-control" placeholder="# of Servings">
          <span class="input-group-btn">
              <button style="height:76px" class="btn btn-info" type="submit" id="computecost">Compute Cost</button>
          </span>
        </div><!-- /input-group -->
      </form>
    </div>
  </div>
  
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}